extends ../layout

block content

    div.container
        div.row
            div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12
                h2= dict.titles.cards
            div.col-lg-6.margin-top
                a(class=('btn btn-primary') href="/cards/create")
                    span(class='glyphicon glyphicon-plus-sign')
                    | &nbsp;
                    = dict.titles.create_cards
                | &nbsp;
                a(class=('btn btn-primary') href="/cards/transhes")
                    span(class='glyphicon glyphicon-plus-sign')
                    | &nbsp;
                    = dict.titles.transhes
            div.col-lg-2.margin-top.text-right
                div.btn-group
                    button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        = dict.titles.card_sell_report
                        | &nbsp;
                        span.caret
                    ul.dropdown-menu
                        li
                            a(onclick='toCsv();return false;' style='cursor:pointer') CSV
                        li
                            a(onclick='toPdf();return false;' style='cursor:pointer') PDF
            div.col-lg-4.margin-top.text-right
                #datepicker.input-group.input-daterange
                    input.form-control(id='dstart' type='text', name='start' value='' placeholder=dict.labels.label_start_date)
                    .input-group-addon #{dict.labels.label_to}
                    input.form-control(id='dend' type='text', name='end' value='' placeholder=dict.labels.label_end_date)

            div.col-lg-12.margin-top
                div.row
                    div.col-lg-3
                        +formSelect('filter', '', filters, (filterObject.filter ? filterObject.filter : ''))
                    div.col-lg-3.text-right
                        input.form-control(id='filterValue' type='text', name='filterValue' value=(filterObject.filterValue ? filterObject.filterValue : '') placeholder=dict.labels.enter_filter_name)
                    div.col-lg-2
                        a(class='btn btn-primary' onclick='searchCards(); return false;' style='cursor:pointer')
                            = dict.titles.search
                        a(class=('btn btn-primary ml-2') onclick="clearCardSearch()" title='Очистить')
                            i(class='glyphicon glyphicon-remove')

            if items && items.length
                div.col-lg-12.margin-top

                    div.table-responsive
                        div.table-responsive
                            table.table.table-bordered
                                thead
                                    tr(class='th-users'): th QR
                                        th NFS
                                        th M-Code
                                        th= dict.labels.label_card_number
                                        th= dict.labels.label_card_type
                                        th= dict.labels.label_card_status
                                        th= dict.labels.label_card_lifetime
                                        th= dict.labels.label_card_servicetime
                                        th= dict.labels.label_card_test
                                        th= dict.labels.label_actions

                                tbody
                                    each item, i in items
                                        tr
                                            td #{item.qr_code}
                                            td #{item.nfs_code}
                                            td #{item.m_code}
                                            td #{item.card_nb}
                                            td #{item.typeName}
                                            td #{item.statusName}
                                            td #{item.lifetime}
                                            td #{item.servicetime}
                                            td #{item.test == 1 ? dict.labels.label_yes : dict.labels.label_no}
                                            td
                                                a(class='glyphicon glyphicon-edit' href='/cards/' + item.id + '/edit')
                                                | &nbsp;
                                                a(class='glyphicon glyphicon-trash text-danger' onclick='confirmDeleteCard(' + item.id + ', "' + item.card_nb + '"); return false;' style='cursor:pointer')
                if page.total>page.limit
                    div.col-lg-12
                        ul(class='pagination')
                            each p in page.pages
                                if page.page == p
                                    li(class='active')
                                        a= p
                                else
                                    li
                                        a(href='/cards?page='+p)= p

                if account.role == 'super' || (account.role == 'admin' && account.publisher == '1')
                    div.col-lg-12.margin-top
                        form(action='/cards/fromcsv', enctype='multipart/form-data', method='post')
                            input(type='file', name='file', accept='.csv')
                            button.btn.btn-primary(type='submit')= dict.titles.import_fromcsv



            if message
                div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.margin-top
                    span.mess.success #{message}

            if error
                div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.margin-top
                    span.mess.error #{error}

            if errors
                div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.margin-top
                    ul.error
                        for error in errors
                            li.mess.error!= error.msg
