extends ../layout

block content

    div.container
        div.row
            div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12
                h2= dict.titles.cards
            div.col-lg-12.margin-top
                a(class=('btn btn-primary') href="/cards/create")
                    span(class='glyphicon glyphicon-plus-sign')
                    | &nbsp;
                    = dict.titles.create_cards
                | &nbsp;
                a(class=('btn btn-primary') href="/cards/generate")
                    span(class='glyphicon glyphicon-plus-sign')
                    | &nbsp;
                    = dict.titles.generate_cards
            if items && items.length
                div.col-lg-12.margin-top

                    div.table-responsive
                        div.table-responsive
                            table.table.table-bordered
                                thead
                                    tr: th Id
                                        th QR Code
                                        th NFS Code
                                        th M Code
                                        th Card Number
                                        th Card Type
                                        th Card status
                                        th Life time
                                        th Service time
                                        th Test Mark
                                        th Actions

                                tbody
                                    each item, i in items
                                        tr
                                            td #{item.cid}
                                            td #{item.qr_code}
                                            td #{item.nfs_code}
                                            td #{item.m_code}
                                            td #{item.card_nb}
                                            td #{item.type}
                                            td #{item.status}
                                            td #{item.lifetime}
                                            td #{item.servicetime}
                                            td #{item.test == 1 ? 'YES' : 'NO'}
                                                | &nbsp;
                                                a(onclick='doToggle(' + oid + ',' + tariff.id + ',' + item.cid + '); return false;' style='cursor:pointer') Toggle
                                            td
                                                a(href='/organizations/' + oid + '/tariffs/' + tariff.id + '/cards/' + item.cid) Change


            if message
                div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.margin-top
                    span.mess.success #{message}

            if error
                div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.margin-top
                    span.mess.error #{error}

            if errors
                div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.margin-top
                    ul.error
                        for error in errors
                            li.mess.error!= error.msg
