extends ../layout

block content

    div.container

        div.row
            div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.login-form-pre
                h2= dict.labels.label_change_user
                p= user.role=='admin' ? 'Роль: Администратор' : (user.role=='cashier' ? 'Роль: Кассир' : 'Роль: Супер')
            div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12
                form(method='post' action='/profile')
                    input#_method(type='hidden', name='_method', value='PUT')
                    input#role(type='hidden', name='role', value=user.role)
                    input(type='hidden', name='parent', value=user.parent)
                    input(type='hidden', name='id', value=user.id)

                    +formTextInput('name', 'text', dict.labels.label_name, dict.labels.label_name, user.name)
                    +formTextInput('last', 'text', dict.labels.label_last_name, dict.labels.label_last_name, user.last)
                    +formTextInput('phone', 'phone', dict.labels.label_phone, dict.labels.label_phone, user.phone)
                    +formTextInput('email', 'email', dict.labels.label_email, dict.labels.label_email, user.email)
                    +formTextInput('password', 'password', dict.labels.change_password, dict.labels.change_password, '')
                    +formTextInput('confirmPassword', 'password', dict.labels.label_confirm_pwd, dict.labels.label_confirm_pwd, '')

                    button.btn.btn-default(type='submit') #{dict.labels.label_update}

            div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.login-form-pre
                if errors
                    ul.error
                        for error in errors
                            li!= error.msg
                if success
                    p #{success.msg}