extends ../layout

block content

    div.container

        div.row
            div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.login-form-pre
                h2= dict.titles.update_company
            div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12
                form(method='post' action='/companies/'+company.id+'/edit')
                    input#_method(type='hidden', name='_method', value='PUT')
                    input#id(type='hidden', name='id', value=company.id)
                    input#country(type='hidden', name='country', value=company.country)
                    input#foc(type='hidden', name='foc', value=company.foc)
                    input#region(type='hidden', name='region', value=company.region)

                    if account.role === 'super'
                        +formSelect('owner', dict.labels.label_admin, adminlist, company.owner)
                    else
                        input#owner(type='hidden', name='owner', value=company.owner)

                    +formTextInput('name', 'text', dict.labels.label_company_name, dict.labels.label_company_name, company.name)
                    +formTextInput('fullname', 'text', dict.labels.label_company_full_name, dict.labels.label_company_full_name, company.fullname)
                    +formTextInput('inn', 'text', dict.labels.label_company_inn, dict.labels.label_company_inn, company.inn)
                    +formTextInput('kpp', 'text', dict.labels.label_company_kpp, dict.labels.label_company_kpp, company.kpp)
                    +formTextInput('ogrn', 'text', dict.labels.label_company_ogrn, dict.labels.label_company_ogrn, company.ogrn)
                    +formTextInput('nds', 'number', dict.labels.label_company_nds, dict.labels.label_company_nds, company.nds)
                    +formTextArea('juradress', dict.labels.label_company_juradress, company.juradress)
                    +formTextArea('adress', dict.labels.label_company_adress, company.adress)
                    +formTextArea('bankdetails', dict.labels.label_company_bankdetails, company.bankdetails)
                    +formTextInput('dogovor', 'text', dict.labels.label_company_dogovor, dict.labels.label_company_dogovor, company.dogovor)
                    +formTextInput('dogovordate', 'date', dict.labels.label_company_dogovor_date, dict.labels.label_company_dogovor_date, moment(company.dogovordate).format("YYYY-MM-DD"))

                    +formSelect('country', dict.labels.label_country, countries, company.country, true)
                    +formSelect('foc', dict.labels.label_fed_okrug, fos, company.foc, true)
                    +formSelect('region', dict.labels.label_region, regions, company.region, true)

                    button.btn.btn-default(type='submit') #{dict.labels.label_update}

            div.col-lg-12.margin-top.text-center
                if errors
                    ul.error
                        for error in errors
                            li!= error.msg
                if error
                    div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.margin-top
                        span.mess.error #{error}
                if success
                    p #{success.msg}
