extends ../layout

block content

    div.container
        div.row
            div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12
                h2= dict.titles.companies
            div.col-lg-6.margin-top
                if account.role !== 'cashier'
                    a(class=('btn btn-primary') href="/companies/create")
                        span(class='glyphicon glyphicon-plus-sign')
                        | &nbsp;
                        = dict.titles.create_company
            div.col-lg-6.margin-top.text-right
                if account.role !== 'cashier'
                    a(class=('btn btn-primary') href="/companies/journal")
                        span(class='glyphicon glyphicon-plus-sign')
                        | &nbsp;
                        = dict.titles.visits_report

            if items && items.length>0
                div.col-lg-12.margin-top

                    div.table-responsive

                        table.table.table-bordered
                            thead
                                tr(class='th-users'): th= dict.labels.label_name
                                    th= dict.labels.label_actions
                            tbody
                                each item, i in items
                                    tr(class='tr-top')
                                        td #{item.name}
                                        td(class="col-md-4")
                                            if account.role !== 'cashier'
                                                +link('', '/companies/' + item.id + '/edit', 'glyphicon glyphicon-edit', '', dict.labels.label_update)
                                                | &nbsp;&nbsp;
                                                +link('', '', 'glyphicon glyphicon-trash text-danger', '', dict.labels.label_delete, 'confirmDeleteCompany(' + item.id + ', "' + item.name + '"); return false;')
                                                | &nbsp;&nbsp;
                                                +link('btn btn-primary', '/companies/'+item.id+'/terminals/create', 'glyphicon glyphicon-plus-sign', dict.titles.terminal, dict.labels.label_add_terminal)
                                                | &nbsp;&nbsp;
                                                +link('btn btn-primary', '/companies/'+item.id+'/users', 'glyphicon glyphicon-user', dict.titles.users, dict.titles.users)

                                    if item.terminals && item.terminals.length
                                        each subitem, i in item.terminals
                                            if account.role !== 'cashier'
                                                tr(class='tr-second')
                                                    td(class='offset') #{subitem.name}
                                                    td(class="col-md-4")
                                                        +link('', '/companies/' + item.id + '/terminals/' + subitem.id+'/edit', 'glyphicon glyphicon-edit', '', dict.labels.label_update)
                                                        | &nbsp;&nbsp;
                                                        +link('', '', 'glyphicon glyphicon-trash text-danger', '', dict.labels.label_delete, 'confirmDeleteTerminal(' + item.id + ', '+subitem.id+' ,"' + subitem.name + '"); return false;')
                                                        | &nbsp;&nbsp;
                                                        +link('btn btn-primary', '/companies/' + item.id + '/terminals/' + subitem.id+'/tariffs', 'glyphicon glyphicon-ruble', dict.titles.tariffs, dict.titles.tariffs)
                                                        | &nbsp;&nbsp;
                                                        +link('btn btn-primary', '/companies/' + item.id + '/terminals/' + subitem.id + '/visits', 'glyphicon glyphicon-ruble', dict.titles.visits, dict.titles.visits)
                                            else
                                                if !item.terminal || (item.terminal && item.terminal == subitem.id)
                                                    tr(class='tr-second')
                                                        td(class='offset') #{subitem.name}
                                                        td(class="col-md-4")
                                                            +link('btn btn-primary', '/companies/' + item.id + '/terminals/' + subitem.id + '/visits', 'glyphicon glyphicon-ruble', dict.titles.visits, dict.titles.visits)

            if message
                div.col-lg-12.margin-top.text-center
                    span.mess.success #{message}

            if error
                div.col-lg-12.margin-top.text-center
                    span.mess.error #{error}

            if errors
                div.col-lg-12.margin-top.text-center
                    ul.error
                        for error in errors
                            li.mess.error!= error.msg
