extends ../layout

block content

    div.container
        div.row
            div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12
                h2= dict.titles.tariffs
                p(style='font-weight:bold') Компания: #{company.name}
                p= company.countryname + ', ' + company.focname + ', ' + company.regionname
                p(style='font-weight:bold') Терминал: #{terminal.name}
            div.col-lg-12.margin-top
                a(class=('btn btn-primary') href='/companies/'+company.id+'/terminals/'+terminal.id+'/tariffs/create')
                    span(class='glyphicon glyphicon-plus-sign')
                    | &nbsp;
                    = dict.titles.create_tariff
            if items && items.length
                div.col-lg-12.margin-top

                    div.table-responsive

                        table.table.table-bordered
                            thead
                                tr(class='th-users'): th= dict.labels.label_name
                                    th= dict.labels.label_period
                                    th= dict.labels.label_discount
                                    th= dict.labels.label_tariff_type
                                    th= dict.labels.label_guest
                                    th= dict.labels.label_actions
                            tbody
                                each item, i in items
                                    tr
                                        td #{item.name}
                                        if item.start && item.start != '0000-00-00'
                                            td #{moment(item.start).format("DD/MM/YYYY") + ' - '+moment(item.end).format("DD/MM/YYYY")}
                                        else
                                            td= dict.labels.label_unlimited
                                        td #{item.discount}
                                        td #{item.type == 'adult' ? dict.labels.label_tariff_adult : (item.type == 'child' ? dict.labels.label_tariff_child : dict.labels.label_tariff_other)}
                                        td #{item.discount === '1' ? dict.labels.label_yes : dict.labels.label_no}
                                        td(class="col-md-2")
                                            +link('', '/companies/' + company.id + '/terminals/'+terminal.id+'/tariffs/'+item.id+'/edit', 'glyphicon glyphicon-edit', '', dict.labels.label_update)
                                            | &nbsp;&nbsp;
                                            +link('', '', 'glyphicon glyphicon-trash text-danger', '', dict.labels.label_delete, 'confirmDeleteTariff('+company.id+','+terminal.id+','+item.id+',"'+item.name+'"); return false;')

            if message
                div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.margin-top
                    span.mess.success #{message}

            if error
                div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.margin-top
                    span.mess.error #{error}

            if errors
                div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.margin-top
                    ul.error
                        for error in errors
                            li.mess.error!= error.msg
