extends ../layout

block content

    div.container

        div.row
            div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.login-form-pre
                h2= dict.titles.generate_cards
                p(style='font-weight:bold')= account.name+' '+account.last
            div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12
                form(method='post' action='/cards/transhes/create')

                    if account.role === 'super'
                        +formSelect('admin', dict.labels.label_admin, admins)

                    input(type='hidden', name='owner', value=account.id)

                    input(type='hidden', name='status', value='published')
                    input(type='hidden', name='test', value='0')

                    +formSelect('company', dict.labels.label_company, companies)

                    +formTextInput('count', 'number', dict.labels.label_transh_count, dict.labels.label_transh_count, '')

                    +formTextInput('lifetime', 'number', dict.labels.label_card_lifetime, dict.labels.label_card_lifetime, '')
                    +formTextInput('servicetime', 'number', dict.labels.label_card_servicetime, dict.labels.label_card_servicetime, '')
                    +formTextInput('codetype', 'number', dict.labels.label_card_codetype, dict.labels.label_card_codetype, '')

                    +formSelect('type', dict.labels.label_card_type, types)


                    button.btn.btn-primary(type='submit') #{dict.labels.label_create}

            div.col-lg-12.margin-top.text-center
                if errors
                    ul.error
                        for error in errors
                            li.mess.error!= error.msg
                if error
                    p.mess.error #{error}
                if success
                    p #{success.msg}