extends ../layout

block content

    div.container
        div.row
            div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12
                h2= dict.titles.visits
        div.row
            div.col-lg-3.margin-top.text-left
                div.btn-group
                    button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        = dict.titles.visits_report
                        | &nbsp;
                        span.caret
                    ul.dropdown-menu
                        li
                            a(onclick='journalToPdf("discount", "all");return false;' style='cursor:pointer')
                                = dict.titles.visits_report_discount
                        li
                            a(onclick='journalToPdf("discount", "detailed");return false;' style='cursor:pointer')
                                = dict.titles.visits_report_discount_detailed
                        if account.role !== 'partner'
                            li
                                a(onclick='journalToPdf("pass", "all");return false;' style='cursor:pointer')
                                    = dict.titles.visits_report_pass
                            li
                                a(onclick='journalToPdf("pass", "detailed");return false;' style='cursor:pointer')
                                    = dict.titles.visits_report_pass_detailed
            div.col-lg-3.margin-top.text-right
                input.form-control(id='cardNb' type='number', name='cardNb', placeholder=dict.labels.label_card_number value=cardNb)
            div.col-lg-4.margin-top.text-right
                #datepicker.input-group.input-daterange
                    input.form-control(id='dstart' type='text', name='start' value=dstart placeholder=dict.labels.label_start_date)
                    .input-group-addon #{dict.labels.label_to}
                    input.form-control(id='dend' type='text', name='end' value=dend placeholder=dict.labels.label_end_date)
            div.col-lg-2.margin-top.text-right

                a(class=('btn btn-primary') onclick="reloadFields()" title='Обновить')
                    i(class='glyphicon glyphicon-repeat')
                    | &nbsp;
                a(class=('btn btn-primary ml-2') onclick="clearDateFields()" title='Очистить')
                    i(class='glyphicon glyphicon-remove')

            if items && items.length
            div.row
                div.col-lg-12.margin-top

                    div.table-responsive

                        table.table.table-bordered
                            thead
                                tr(class='th-users'): th= dict.titles.visit_date
                                    th= dict.labels.label_card_number
                                    th= dict.labels.label_comp_terminal
                                    th= dict.titles.tariff
                                    th= dict.titles.discountType
                                    th= dict.titles.visit_login
                                    th= dict.titles.visit_price
                                    th= dict.titles.visit_discount
                            tbody
                                each item, i in items
                                    tr
                                        td= moment(item.date).format("YYYY-MM-DD HH:mm")
                                        td= item.cardNumber
                                        td= item.companyName + '/ ' + item.terminalName
                                        td= item.tariffName
                                        td= item.discountType=='pass' ? dict.labels.label_pass : dict.labels.label_discount
                                        td= item.email
                                        td= item.price+' руб.'
                                        td= item.discount+(item.discountUnit=='currency'?' руб.':' %')

                if page.total > page.limit
                    div.col-lg-12
                        ul(class='pagination')
                            each p in page.pages
                                if page.page == p
                                    li(class='active')
                                        a= p
                                else
                                    li
                                        a(href='/companies/journal?page=' + p + (dstart != '' ? '&dstart=' + dstart : '') + (dend != '' ? '&dend=' + dend : '') )= p

            if message
                div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.margin-top
                    span.mess.success #{message}

            if error
                div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.margin-top
                    span.mess.error #{error}

            if errors
                div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.margin-top
                    ul.error
                        for error in errors
                            li.mess.error!= error.msg
