extends ../layout

block content

    div.container
        div.row
            div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12
                h2= dict.titles.visits
                p(style='font-weight:bold') Компания: #{company.name}
                p= company.countryname + ', ' + company.focname + ', ' + company.regionname
                p(style='font-weight:bold') Терминал: #{terminal.name}
            div.col-lg-6.margin-top
                if account.role !== 'partner'
                    a(class=('btn btn-primary') href='/companies/'+company.id+'/terminals/'+terminal.id+'/visits/add')
                        span(class='glyphicon glyphicon-plus-sign')
                        | &nbsp;
                        = dict.titles.create_visit
            div.col-lg-2.margin-top.text-right
                div.btn-group
                    button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        = dict.titles.visits_report
                        | &nbsp;
                        span.caret
                    ul.dropdown-menu
                        li
                            a(onclick='visitsToPdf("'+company.id+'", "'+terminal.id+'", "discount", "all");return false;' style='cursor:pointer')
                                = dict.titles.visits_report_discount
                        li
                            a(onclick='visitsToPdf("' + company.id + '", "' + terminal.id + '", "discount", "detailed");return false;' style='cursor:pointer')
                                = dict.titles.visits_report_discount_detailed
                        if account.role !== 'partner'
                            li
                                a(onclick='visitsToPdf("'+company.id+'", "'+terminal.id+'", "pass", "all");return false;' style='cursor:pointer')
                                    = dict.titles.visits_report_pass
                            li
                                a(onclick='visitsToPdf("' + company.id + '", "' + terminal.id + '", "pass", "detailed");return false;' style='cursor:pointer')
                                    = dict.titles.visits_report_pass_detailed
            div.col-lg-4.margin-top.text-right
                #datepicker.input-group.input-daterange
                    input.form-control(id='dstart' type='text', name='start' value='' placeholder=dict.labels.label_start_date)
                    .input-group-addon #{dict.labels.label_to}
                    input.form-control(id='dend' type='text', name='end' value='' placeholder=dict.labels.label_end_date)

            if items && items.length
                div.col-lg-12.margin-top

                    div.table-responsive

                        table.table.table-bordered
                            thead
                                tr(class='th-users'): th= dict.titles.visit_date
                                    th= dict.labels.label_card_number
                                    th= dict.titles.tariff
                                    th= dict.titles.discountType
                                    th= dict.titles.visit_login
                                    th= dict.titles.visit_price
                                    th= dict.titles.visit_discount
                            tbody
                                each item, i in items
                                    tr
                                        td= moment(item.date).format("YYYY-MM-DD HH:mm")
                                        td= item.cardNumber
                                        td= item.tariffName
                                        td= item.discountType=='pass' ? dict.labels.label_pass : dict.labels.label_discount
                                        td= item.email
                                        td= item.price+' руб.'
                                        td= item.discount+(item.discountUnit=='currency'?' руб.':' %')
            if message
                div.col-lg-12.margin-top.text-center
                    span.mess.success #{message}

            if error
                div.col-lg-12.margin-top.text-center
                    span.mess.error #{error}

            if errors
                div.col-lg-12.margin-top.text-center
                    ul.error
                        for error in errors
                            li.mess.error!= error.msg
