extends ../layout

block content

    div.container

        div.row
            div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12.login-form-pre
                h2= dict.titles.create_terminal
                p(style='font-weight:bold')= company.name
                p= company.countryname+', '+company.focname+', '+company.regionname
            div.col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-12
                form(method='post' action='/companies/'+company.id+'/terminals/create')
                    input#company(type='hidden', name='company', value=company.id)

                    +formTextInput('name', 'text', dict.labels.label_name, dict.labels.label_name, '')
                    +formTextInput('commission', 'number', dict.labels.label_comission, dict.labels.label_comission, '2')
                    +formTextInput('place', 'text', dict.labels.label_city, dict.labels.label_city, '')

                    button.btn.btn-primary(type='submit') #{dict.labels.label_create}

            div.col-lg-12.margin-top.text-center
                if errors
                    ul.error
                        for error in errors
                            li!= error.msg
                if error
                    p.mess.error #{error}
                if success
                    p #{success.msg}
